<%- include('partials/header') %>

<div class="jumbotron">
  <h1 class="display-4">Nahh!</h1>
  <p class="lead">This profile is not registered!</p>
  <hr class="my-4">
</div>

<%- include('partials/footer') %>
