<%- include('partials/header') %>

<div class="jumbotron">
  <h1 class="display-4">Hurrah!</h1>
  <p class="lead">Successfully registered!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/login" role="button">login</a>
</div>

<%- include('partials/footer') %>
